CATALOG, SONG, TITLE, ARTIST, GENRE, YEAR {
     background-color: #191414;
     display: block;
}

CATALOG {
     width: 100%;
}

TITLE {
     font-size : 25px;
     font-weight : bold;
}

SONG {
     color: #1DB954;
}

SONG:hover {
     border: 10px solid #FFFFFF;
}
