CATALOG, SONG, ARTIST, GENRE, YEAR {
     background-color: #191414;
     font-size: 1.2vw;
     display: block;
}


CATALOG {
     width: 100%;
}

TITLE {
     font-weight : bold;
     background-color: #191414;
     display: block;
}

SONG {
     color: #1DB954;
     text-align: center;
     max-width: 320px;
     background-color: #191414;
     margin: auto;
}

SONG:hover {
     border: 1px solid #FFFFFF;
     transition: 0.4s;
     background-color: rgba(255,255,255, 0.4);
}

ARTIST::before {
     content: "Artist(s): ";
     color: #191414;
     border: 1px solid #1DB954;
     background color: #1DB954;
     border-radius: 15px;
}

GENRE::before {
     content: "Genre(s): ";
     color: #191414;
     border: 1px solid #1DB954;
     background color: #1DB954;
     border-radius: 15px;
}

YEAR::before {
     content: "Year: ";
     color: #191414;
     border: 1px solid #1DB954;
     background color: #1DB954;
     border-radius: 15px;
}





@media screen and (max-width: 767px) {
     CATALOG, SONG, ARTIST, GENRE, YEAR {
         font-size: 5.2vw;
     }

     TITLE {
         font-size: 7.8vw;
      }
}
    
@media screen and (min-width: 768px) and (max-width: 1023px) {
     CATALOG, SONG, ARTIST, GENRE, YEAR {
          font-size: 3.2vw;
     }

     TITLE {
         font-size: 4.8vw;
     }
}
    
@media screen and (min-width: 1024px) {
     CATALOG, SONG, ARTIST, GENRE, YEAR {
          font-size: 1.2vw;
     }

     TITLE {
         font-size: 1.8vw;
     }
}
