CATALOG, SONG, ARTIST, GENRE, YEAR {
     background-color: #191414;
     display: block;
     font-size: 1.2vw;
}

CATALOG {
     width: 100%;
}

TITLE {
     font-size : 25px;
     font-weight : bold;
     background-color: #191414;
     display: block;
}

SONG {
     color: #1DB954;
     text-align: center;
     max-width: 320px;
     background-color: #191414;
     margin: auto;
}

SONG:hover {
     border: 1px solid #FFFFFF;
     transition: 0.4s;
     background-color: rgba(255,255,255, 0.4);
}

    @media screen and (max-width: 767px) {
        CATALOG, SONG, ARTIST, GENRE, YEAR {
          font-size: 5.2vw;
      }    
    }
    
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      CATALOG, SONG, ARTIST, GENRE, YEAR {
          font-size: 3.2vw;
      }
    }
    
    @media screen and (min-width: 1024px) {
      CATALOG, SONG, ARTIST, GENRE, YEAR {
          font-size: 1.2vw;
      }
    }
